.banner .swiper{
    height: 100vh;
  }
  .banner .swiper .swper-slide{
    position: relative;
    width: 100%;
    height: 100%;
  }
  .overlay img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .overlay::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .slider-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    width: 100%;
  }
  .slider-text h1{
    color: #fff;
    font-size: 40px;
  }
  .slider-text span{
    color: #27b1fc;
  }
  .swiper-button-prev, .swiper-button-next{
    width: 50px;
    height: 50px;
    background-color: #27b1fc;
    border-radius: 50%;
    color: #fff;
  }
  .swiper-button-prev::after, .swiper-button-next::after{
    font-size: 30px;
  }
  
  @media only screen and (max-width:600px) {
    .slider-text h1{
      font-size: 30px;
    }
  }
  @media only screen and (max-width:500px) {
    .slider-text h1{
      font-size: 25px;
    }
  }